.answers-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
}

.answers-container__answer-button {
    width: 320px;
    height: 70px;
    border-radius: 5px;
    box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.7);
    background-color: #239AD4;
    color: whitesmoke;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.answers-container__answer-button span {
    margin-right: 10px;
}

.answers-container__answer-button:hover {
    background-color: whitesmoke;
    color: #239AD4;
}

.answers-container__answer-buttonCorrect {
    width: 320px;
    height: 70px;
    border-radius: 5px;
    box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.7);
    background-color: green;
    color: whitesmoke;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.answers-container__answer-buttonWrong {
    width: 320px;
    height: 70px;
    border-radius: 5px;
    box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.7);
    background-color: red;
    color: whitesmoke;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}