.page-not-found-container {
    width: 100vw;
    height: 100vh;

    background-image: url(../../../../public/images/404/404.png);

    filter: blur(2px);
    -webkit-filter: blur(2px);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    font-family: Garamond, serif;
    position: relative;
}

.page-not-found-container-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.not-found-h1 {
    margin: 0;
    color: whitesmoke;
    font-size: 54px;
    font-weight: bold;
    -webkit-text-fill-color: whitesmoke;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2.00px;
}

.not-found-h2 {
    font-size: 40px;
    font-weight: bold;
    -webkit-text-fill-color: red;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2.00px;
}

.link-home {
    text-decoration: none;
    color: black;
}