.network-error-container {
    width: 800px;
    height: 300px;
    border: 2px solid black;
    background-color: whitesmoke;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-30%, -50%);
}

.network-error-container__h1 {
    font-weight: bold;
    font-style: italic;
}

.network-error-container__h2 {
    font-weight: bold;
    font-style: italic;
}