.lives {
    position: absolute;
    padding: 8px 12px;
    top: 10%;
    right: 2%;
    transform: translate(-10%, -2%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: whitesmoke;
    border-radius: 5px;
    font-size: 20px;
}

.coins {
    color: goldenrod;
    font-weight: bold;
    font-style: italic;
}

.hearts {
    border: 1px solid black;
    color: red;
}

.no-life {
    color: white;
}